.dialog {
    text-align: center;
}


.dialog h2 {
    max-height: 80px;
    overflow: hidden;
}
.dialog .cover {
    display: inline-block;
    width: 256px;
    height: 256px;
    border: 1px solid #999;
    background: url('/assets/cover.png') no-repeat;
    background-size: 100%;
    margin-bottom: 10px;
}